* {
    font-family: Notosans sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #50B83C;
    --primary-hover: #57C841;
    --primary-disabled: #AFDAA9;
    --primary-active: #118044;
    --secondary-disabled: #FBFBFB;
    --secondary-active: #EBEBEB;
    --white: #ffffff;
    --error: #E61D1D;
}

@font-face {
    font-family: Notosans sans-serif;
    src: url('../assets/font/notosans-regular.2cb88a13.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Notosans sans-serif;
    src: url('../assets/font/notosans-semibold.df3e6dc4.woff2');
    font-weight: 500;
}

@font-face {
    font-family: Notosans sans-serif;
    src: url('../assets/font/notosans-bold.3ede5aff.woff2');
    font-weight: 700;
}

@font-face {
    font-family: Notosans sans-serif;
    src: url('../assets/font/notosans-italic.1c1aaac9.woff2');
    font-style: italic;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* Flex */
.row {
    display: flex;
    flex-wrap: nowrap;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.no-radius-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Text-align */
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* Width */
.w-auto {
    width: auto;
}

.w-300 {
    width: 300px;
}

.w-200 {
    width: 200px;
}

.w-150 {
    width: 150px;
}

.w-100 {
    width: 100px;
}

/* Margin */
.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

/* Input */
select {
    appearance: none;
    cursor: pointer;
}

select option[disabled] {
    color: #9e9e9e;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Display */
.block-show {
    display: block;
}